<main class="terms">
  <section class="details">
    <h1>Terms of Use</h1>
    <div class="statement">
      <p>
        By accessing and using CarComplaints.com (the "Site"), you are subject
        to these terms and conditions. By your use of the Site or by providing
        Auto-Complaints.com ("Auto-Complaints.com") with any personal or proprietary information,
        you authorize Auto-Complaints.com to release such information to law enforcement
        and other third parties in accordance with our
        <a target="_blank" routerLink="/privacy">Privacy Policy</a>.
      </p>
      <p>
        All content displayed on the Site is the property of Auto-Complaints.com. All
        information and content is protected by U.S. and international copyright
        laws. The Site is provided "as is" without warranty of any kind, either
        expressed or implied.
      </p>
      <p>
        In providing information and media to the Site and to Auto-Complaints.com, you
        grant to Auto-Complaints.com the worldwide, royalty-free, perpetual, irrevocable,
        non-exclusive, sublicenseable and transferable right and license to use,
        reproduce, modify, display, perform, prepare derivative works of, and
        distribute all such materials in any form, including without limitation
        for promoting and redistributing part or all of the Site (and derivative
        works thereof), in any media formats and through any media channels. You
        also agree to indemnify and hold Auto-Complaints.com harmless against any claims or
        costs, including attorneys' fees, arising from the use or distribution
        of those materials.
      </p>
      <p>
        By posting a car complaint to the Site, you agree that your first
        name/last initial (or login name — based on your user preference),
        location, vehicle information, text of your complaint &amp; other
        information you provide will be displayed publicly, &amp; that we may
        send you various email notifications.
      </p>
      <p>
        You acknowledge that the Site's content includes certain trademarks and
        service marks owned (but not necessarily registered) by Auto-Complaints.com. You
        agree not to infringe upon these trademarks or service marks. You
        further agree that you will not alter or remove any trademark, copyright
        notice, or other notice from any copies of the Site's content.
      </p>
      <p>
        Auto-Complaints.com does not endorse and is not responsible for the accuracy or
        reliability of any opinion, advice or statement made through the Site by
        any other party, other than as required under applicable consumer
        protection law. Under no circumstance will Auto-Complaints.com be liable for any
        loss or damage caused by a user's reliance on information obtained
        through the Site. It is the responsibility of the user to evaluate the
        accuracy, completeness or usefulness of any opinion, advice or other
        content available through the Site.
      </p>

      <p>
        Auto-Complaints.com specifically disclaims any liability (whether in contract,
        tort, strict liability or otherwise) for any direct, indirect,
        incidental, consequential, or special damages arising out of or in any
        way connected with access to or use of the Site (even if Auto-Complaints.com has
        been advised of the possibility of such damages), including any
        liability associated with any viruses, macros, or other disabling
        software that may infect a user's computer equipment.
      </p>

      <p>
        Applicable law may not allow the exclusion of certain warranties or the
        limitation or exclusion of liability for incidental or consequential
        damages. Accordingly, some of the above limitations or exclusions may
        not apply to you. However, in no event shall the Auto-Complaints.com's total
        liability to you for damages, losses, and causes of action (whether in
        contract or tort, including but not limited to, negligence or otherwise)
        exceed the amount paid by you, if any, for accessing this site.
      </p>

      <p>
        Auto-Complaints.com prohibits the framing of any content available through the
        Site. Auto-Complaints.com reserves the right to disable any unauthorized frames and
        specifically disclaims any responsibility for the content available on
        other Internet sites linked to or from this site. Access to any other
        Internet sites linked to or from the Site is at the User's sole risk.
      </p>

      <p>
        Auto-Complaints.com reserves the right to revise these Rules and Regulations at any
        time, and if the User accesses the Site after such change, the User is
        deemed to be apprised of and bound by any changes to these Rules and
        Regulations.
      </p>

      <p>
        Auto-Complaints.com reserves the right to seek all remedies available at law and in
        equity for violations of these Rules and Regulations, including the
        right to block access from a particular Internet address to the Site.
      </p>

      <p>
        User agrees to indemnify and hold harmless Auto-Complaints.com and its
        subsidiaries, affiliates, officers, directors, agents and employees from
        any claim or demand, including reasonable attorneys' fees made by any
        third party due to or arising out of User's breach of this Agreement or
        the documents it incorporates by reference, or User's violation of any
        law or the rights of a third party.
      </p>
      

      <!-- <p>
        If you have any additional questions or concerns about our Terms of Use
        Agreement,
        <a href="/contact.shtml"><strong>please let us know</strong></a
        >!
      </p> -->
    </div>
    <button mat-raised-button routerLink="/vehicles">Find your vehicle</button>
  </section>
</main>
