<main class="footer">
  <div class="container">
    <div class="zone" id="details">
      <h5>Auto-Complaints.com is an online automotive complaint resources, based on complaint data submitted by NHTSA and other governent agencies. The complaints are organized into groups with data published by vehicle, vehicle component, complaints and recalls.</h5>
    </div>
    <div class="zone">
    <h5>© 2024 Auto-Complaints.com </h5>
    <h5>Powered by <a href='#'>William J Ward</a></h5>
    </div>
    <div class="zone">
      <h5><a mat-button routerLink="/privacy">Privacy Policy</a></h5>
      <h5><a mat-button routerLink="/terms">Terms of Service</a> </h5>
      <h5><a mat-button routerLink="/admin">Admin</a> </h5>
    </div>
  </div>
  <!-- <mat-toolbar class="footer-layout"  color="primary" >
    <span>© 2024 Your Company</span>
    <span class="spacer"></span>
    <a mat-button href="#">Privacy Policy</a>
    <a mat-button href="#">Terms of Service</a> 
  </mat-toolbar> -->
</main>

  