<main class="privacy">
    <section class="details">
        
        <div class="statement">
            <h1>Privacy Statement</h1>
            <p>
                <strong>We will NOT sell or transfer any of your specific user information to any third party without your permission,</strong>
                except to comply with any law, regulation, audit or court order. With your explicit permission, we may share your personal information
                with third-party companies, such as helpful pro-consumer organizations like the Center For Auto Safety or various class action law firms.
                We reserve the right to publish general statistics about our member database which will not reveal personably identifiable information.
                Personal information of children under 13 years of age is not collected.
            </p>
            <p>
                <strong>If you report a problem that is added to our database</strong>, your first name &amp; last initial OR
                your login name (your choice) is displayed publicly on Auto-Complaints.com along with your city, state, &amp; country.
                If you do not wish this information to be displayed, do not submit car problem reports.
                You may use Auto-Complaints.com to browse problem data &amp; view other car problem reports without any of your user data being
                displayed to the public.
            </p>
            <p>
                <strong>We do not store your phone number or street address in our main user database.</strong>
                However we may ask for &amp; store this information for the purpose of running contests, promotions, providing leads, selling merchandise, etc.
                In these cases, your personally identifiable information will only be used for the purpose of completing the related service.
            </p>
            <p>
                <strong>We use third-party advertising companies to serve ads and collect information when users visit our site.</strong>
                  These companies may use information (but not your name, address, email address or telephone number) about your visits to this and other websites in order to provide advertisements on our site, other websites and other forms of media about goods and services of interest to you.
                  <!-- If you would like more information about this practice and to know your choices about not having this information used by these companies, see
                  <a target="_blank" href="http://networkadvertising.org/managing/opt_out.asp">this opt-out link</a>. -->
              </p>
        </div>
        <button mat-raised-button routerLink="/vehicles">Find your vehicle</button>
    </section>
</main>
